@model WebAlumnos.Models.Curso
@{
    ViewBag.Title = "Alta";
}

<h2>Nuevo curso</h2>

@Html.ValidationSummary(false)

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    
    
    @Html.LabelFor(o=>o.nombre)
    @Html.EditorFor(o=>o.nombre)
    @Html.ValidationMessageFor(o=>o.nombre)
    <br/>
    @Html.LabelFor(o=>o.inicio)
    @Html.EditorFor(o=>o.inicio)
    <br/>
    @Html.LabelFor(o => o.fin)
    @Html.EditorFor(o => o.fin)
    <br/>
    <input type="submit" value="Enviar datos"/>

}
